#line_ornament {
    width: 25%;
    height: 2px;
    margin: .5em auto 1.5em;
    background-color: var(--clr-light);
    opacity: .75;
}

@media (max-width: 1000px) {
    #line_ornament {
        width: 50%;
    }
}