#see_more_button {
    background-color: var(--clr-dark);
    border: 1px solid var(--clr-light);
    margin: 1em;
    padding: 10px;
    border-radius: 5px;
}

#see_more_button:hover {
    color: var(--clr-accent);
    border-color: var(--clr-accent);
}

#see_more_button:active {
    opacity: .8;
}