*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* colors */
    --clr-light: #fafafa;
    --clr-dark: #1a1a1a;
    --clr-accent:  #FEE715;
    --clr-main: #1f1f1f;
    /* desktop font sizes */
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
}

html {
    scroll-behavior: smooth;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.App {
    font-family: 'DM Sans', sans-serif;
}

body {
    margin: 0;
    line-height: 1.3;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}

.grid_block {
    background-color: var(--clr-main);
    padding-top: 3em;
}

.grid_page {
    display: grid;
    padding: 0 7em 5em;
    grid-auto-flow: row;
}

.grid_page * {
    background-color: var(--clr-dark);
    margin: 1em 0;
    padding: 1.5em;
}

.grid_img {
    padding: 0;
    max-height: 8em;
    margin: auto !important;
}


.desc_bullet {
    margin: 0;
    padding: 0 0 .2em;
}

@media (max-width: 1000px) {
    :root {
        /* mobile font sizes smaller */
        --fs-h1: 3rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.25rem;
        --fs-body: 1rem;
    }

    .grid_page {
        display: flex;
        flex-direction: column;
    }

    .grid_page * {
        margin: 0;
    }

    .grid_img {
        height: auto;
    }
}